# This is a basic workflow to help you get started with Actions

name: Deploy HTML Files to AppService - CMST385

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    
    steps:
      
      - uses: actions/checkout@main

      
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v1 
        with: 
        app-name: 'CMST385-UMGC-jsoto75'
        slot-name: 'production'
        publish-profile: ${{secrets.AppServiceCMST385}}
        

      
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
